<div >
        <% @posts.each do |post| %>

        <h2> <%= post.title %> </h2>
        <%= image_tag 'Naruto-Shippuden.jpg', :class => 'img-rounded img-responsive post-image' %>
        <p> <%=  post.content %></p>
        <% end %>
      </div>

      </div>