<div >
    <% @posts.each do |p| %>

    <h2> <%= p.title %> </h2>
    <%= image_tag p.post_image.to_s, :class => 'img-rounded img-responsive post-image' %>
    <p class='post-text'> <%=  p.content %></p>
    <% end %>
</div>
