// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-image{
	height:	400px;
	margin-bottom: 2.5%;
	width:	600px;
}

.post-text{
	text-align: justify;
}
